@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito+Sans:opsz,wght@6..12,200&family=PT+Sans+Narrow&family=Parisienne&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-image: url('/src/assets/images/restaurant.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.mobile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-container {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 28px;
}

.mobile-nav-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.nav-button {
  display: block;
  position: relative;
  padding: 0.2em 0;
  font-family: 'Montserrat';
  color: white;
  font-size: 24px;
  background-color: transparent;
  border: none;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-button:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.mobile-nav-button {
  position: relative;
  padding: 0.2em 0;
  font-family: 'Montserrat';
  color: white;
  font-size: 3em;
  background-color: transparent;
  border: none;
}

.mobile-nav-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.mobile-nav-button:hover::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: white;
}

.home-hero {
  align-self: center;
  font-family: 'Montserrat';
  font-size: 3rem;
}

.home-logo {
  align-self: center;
  font-family: 'Parisienne', cursive;
  font-size: 7rem;
}

.menu {
  flex: 1;
  padding: 8%;
  display: flex;
  gap: 32px;
  background-color: white;
}

.mobile-menu {
  margin: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
}

.course {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-course {
  margin: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-title {
  font-family: 'PT Sans Narrow';
  font-size: 200%;
}

.menu-item {
  font-size: 100%;
  font-weight: 500;
}

.menu-sub-text {
  font-size: 80%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.mobile-gallery {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.gallery-img {
  height: 10em;
  width: 20em;
}

.mobile-gallery-img {
  height: 80%;
  width: 100%;
}

.about-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: white;
}

.about-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 60%;
}

.about-story-logo {
  font-family: 'Parisienne', cursive;
  font-size: 200%;
}

.about-story-header {
  font-family: 'PT Sans Narrow';
  font-size: 250%;
  margin-top: -20px;
}

.about-chef-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 10px;
  width: 60%;
}

.about-chef-header {
  font-family: 'Parisienne', cursive;
  font-size: 200%;
}

.about-chef-sub-header {
  font-family: 'PT Sans Narrow';
  font-size: 250%;
  margin-top: -20px;
}

.about-chef {
  flex: 1;
  display: flex;
}

.about-chef-text {
  flex: 1;
}

.sanji {
  flex: 1;
  height: 20em;
  width: 15em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(199, 195, 195);
}

.fa-github {
  font-size: 24px;
  color: #6e5494;
  transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
  color: #8a77a5;
}
